* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.modal {
  display: none;
  /* Hidden by default */
  position: relative;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 0px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-header {
  background-color: #de4651;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.modal-header h1 {
  margin-left: 20px;
}

.modal-header i {
  margin-right: 20px;
  font-size: 40px;
}

.modal-header i:hover {
  cursor: pointer;
  font-size: 41px;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal-body {
  padding: 2px 10px;
}

h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.add div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #de4651;
  border-radius: 30px;
  color: white;
  font-size: 150px;
  width: 200px;
  height: 200px;
  margin-left: 15%;
  margin-right: 15%;
  opacity: 0.6;
  position: relative;
  top: 300px;
}

.add div:hover {
  cursor: pointer;
  font-size: 155px;
  -webkit-transition: .2s;
  transition: .2s;
}

div.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.modal-body img {
  max-width: 100%;
  width: auto;
  height: auto;
}

div.modal-body ul.row {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.modal-body ul.row li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 15px;
  color: #434647;
}

div.modal-body ul.row li.legend {
  color: #535b5e;
  font-weight: bold;
  border: none;
  width: 200px;
  border-bottom: 3px solid #de4651;
}

/* very first row */
div.modal-body ul.row:first-of-type li {
  text-align: center;
}

div.modal-body ul.row:first-of-type li h3 {
  padding-top: 30%;
  color: grey;
  font-size: 27px;
}

/* very last row */
div.modal-body ul.row:last-of-type li {
  text-align: center;
}

.row button {
  background-color: #de4651;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.row button:hover {
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.remove i {
  width: 25px;
  height: 25px;
  background-color: #ff5e5b;
  border-radius: 50%;
  margin-right: 10px;
  padding-top: 4px;
}
/*# sourceMappingURL=styles.css.map */